
/************************************************************************************
smaller than 1200
*************************************************************************************/
@media screen and (max-width: 1200px) {



	/* content */
	#content {
		width: 69%;

	}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		height: auto;
		min-height: 300px;
	}

}

/************************************************************************************
smaller than 960
*************************************************************************************/
@media screen and (max-width: 960px) {

	/* header */
  .header-slider {
    padding-bottom: 10px;
    padding-left: 10px;
  }

	/* search form */
	#searchform {
		position: absolute;
		top: 5px;
		right: 0;
		z-index: 100;
		height: 40px;
	}
	#searchform #s {
		width: 70px;
	}
	#searchform #s:focus {
		width: 150px;
	}

	/* site logo */
	#site-logo {
		margin: 15px 100px 5px 0;
		position: static;
	}

	/* site description */
	#site-description {
		margin: 0 0 15px;
		position: static;
	}

	/* content */
	#content {
		width: auto;
		float: none;
		margin: 20px 0;
	}

	/* sidebar */
	#sidebar {
		width: 100%;
		margin: 0;
		float: none;
	}
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		min-height: 250px;
	}

}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 560px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
	/* header */
  .header  {
    flex-direction: column;
    text-align: center;
  }
  .header .menu ul {
    flex-direction: column;
    align-self: center;
  }
  .header .menu li {
    margin: 5px;
 }
  .header-slider {
padding-right: 0px;
padding-bottom: 10px;
  }

  }

}

